# typed: false
# frozen_string_literal: true

class Wt < Formula
  desc "Git worktree manager with lifecycle hooks"
  homepage "https://github.com/agarcher/wt"
  version "{{VERSION}}"
  license "MIT"

  on_macos do
    on_intel do
      url "https://github.com/agarcher/wt/releases/download/v{{VERSION}}/wt-darwin-amd64.tar.gz"
      sha256 "{{SHA_DARWIN_AMD64}}"
    end

    on_arm do
      url "https://github.com/agarcher/wt/releases/download/v{{VERSION}}/wt-darwin-arm64.tar.gz"
      sha256 "{{SHA_DARWIN_ARM64}}"
    end
  end

  on_linux do
    on_intel do
      url "https://github.com/agarcher/wt/releases/download/v{{VERSION}}/wt-linux-amd64.tar.gz"
      sha256 "{{SHA_LINUX_AMD64}}"
    end

    on_arm do
      url "https://github.com/agarcher/wt/releases/download/v{{VERSION}}/wt-linux-arm64.tar.gz"
      sha256 "{{SHA_LINUX_ARM64}}"
    end
  end

  def install
    arch = Hardware::CPU.intel? ? "amd64" : "arm64"
    binary_name = "wt-#{OS.kernel_name.downcase}-#{arch}"
    bin.install binary_name => "wt"

    generate_completions_from_executable(bin/"wt", "completion")
  end

  def caveats
    <<~EOS
      To enable wt shell integration, add the following to your shell config:

      For zsh (~/.zshrc):
        eval "$(wt init zsh)"

      For bash (~/.bashrc):
        eval "$(wt init bash)"

      For fish (~/.config/fish/config.fish):
        wt init fish | source
    EOS
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/wt version")
  end
end
